/* Reset some default styles */
body, h1, h2, ul, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for the body */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

/* Header styles */
header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #2196f3; /* Indigo */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #fff;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Task section styles */
#taskSection {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#taskSection input, 
#taskSection button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
}

#taskSection input[type="datetime-local"] {
  width: 100%;
  max-width: 300px;
}

#taskSection input[type="number"] {
  width: 100%;
  max-width: 150px;
}

/* Button styles */
button {
  background-color: #ff9800; /* Orange */
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #ffc107; /* Orange hover */
}

/* Task list styles */
#taskListSection {
  margin-top: 20px;
}

#taskList {
  list-style: none;
  padding: 0;
}

#taskList li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#taskList li:last-child {
  border-bottom: none;
}

#taskList li:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Maximum width */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px; /* Rounded corners */
}

/* The Close Button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

